.controller.fight-stick { background: url(tekken.svg) center no-repeat; background-position-x: -650px; width: 260px}

/*Rage Art*/
.fight-stick .bumpers , 
.fight-stick .bumper {
	width: 260px;
	height: 268px;
	top: 69px;
	left: 245px;
	border-radius: 0%;
	background: url(tekken.svg);
	background-position-x: -910px;
	transform: scale(0.5);
	transform-origin: left;
	}

/*Face Buttons*/
.fight-stick .a { bottom: 54px; left: -446px; }
.fight-stick .b { bottom: 67px; right: 550px; }
.fight-stick .x { top: 110px; left: -447px; }
.fight-stick .y { right: 550px; top: 95px; }

.fight-stick .button.a.pressed  { background: #60a94f; }
.fight-stick .button.b.pressed  { background: #bb2f4f; }
.fight-stick .button.x.pressed  { background: #18a3c3; }
.fight-stick .button.y.pressed  { background: #d9bf2c; }

/*Movement Inputs*/
.fight-stick .fstick {
	width: 260px;
	height: 268px;
	top: 150px;
	left: -265px;
	background: url(tekken.svg);
	transform: scale(0.5);
	transform-origin: left;
	}

.fight-stick .fstick.up,
.fight-stick .fstick.down,
.fight-stick .fstick.left,
.fight-stick .fstick.right,
.fight-stick .fstick.up.right,
.fight-stick .fstick.up.left,
.fight-stick .fstick.down.right,
.fight-stick .fstick.down.left {
	width: 390px;
	background-position-x: -260px;
	left: -200px;
	}

.fight-stick .fstick.up 			{ transform: scale(0.5) rotate(270deg); }
.fight-stick .fstick.down 		{ transform: scale(0.5) rotate(90deg); }
.fight-stick .fstick.left 		{ transform: scale(0.5) rotate(180deg); }
.fight-stick .fstick.right 		{ transform: scale(0.5) rotate(0deg); }
.fight-stick .fstick.up.right 	{ transform: scale(0.5) rotate(315deg); }
.fight-stick .fstick.up.left 	{ transform: scale(0.5) rotate(225deg); }
.fight-stick .fstick.down.right 	{ transform: scale(0.5) rotate(45deg); }
.fight-stick .fstick.down.left 	{ transform: scale(0.5) rotate(135deg); }

/*Essential Tweaks*/
.fight-stick .button,
.fight-stick .trigger-button {
	width: 98px;
	height: 98px;
	background: #424c4b;
	}

.fight-stick .trigger-button,
/**/.fight-stick .triggers,
/**/.fight-stick .trigger-button.left,
/**/.fight-stick .trigger-button.right,
/**/.fight-stick .trigger-button.left.pressed,
/**/.fight-stick .trigger-button.right.pressed,
/**/.fight-stick .trigger-button.pressed,
.fight-stick .button,
.fight-stick .bumper,
.fight-stick .bumpers,
.fight-stick .bumper.left,
.fight-stick .bumper.left.pressed,
.fight-stick .quadrant,
.fight-stick .arrows ,
.fight-stick .back,
.fight-stick .start ,
.fight-stick .back.pressed,
.fight-stick .start.pressed {
	visibility: hidden;
	}

.fight-stick .button.pressed,
.fight-stick .bumper.pressed {
	transform: translateY(0px);
	-webkit-filter: invert(0);
	visibility: visible;
	}
