/*Controller Disconnected*/
.custom.disconnected { background: url(https://gamepadviewer.com/stick-assets/disconnected.svgz) no-repeat; }
.custom.disconnected div { display: none; }

/*Button Panel*/
.controller.custom{
    background: url(tekken.svg) center no-repeat;
    background-position-x: -650px;
    width: 260px;
    height: 268px;
}

/*Movement Inputs*/
.custom .fstick {
	position: absolute;
	width: 260px;
	height: 268px;
	left: -245px;
	background: url(tekken.svg);
	transform: scale(0.5);
	transform-origin: left;
	}

.custom .fstick.up,
.custom .fstick.down,
.custom .fstick.left,
.custom .fstick.right,
.custom .fstick.up.right,
.custom .fstick.up.left,
.custom .fstick.down.right,
.custom .fstick.down.left {
	width: 390px;
	left: -180px;
	background-position-x: -260px;
	}

.custom .fstick.up 		{ transform: scale(0.5) rotate(270deg); }
.custom .fstick.down 		{ transform: scale(0.5) rotate(90deg); }
.custom .fstick.left 		{ transform: scale(0.5) rotate(180deg); }
.custom .fstick.right 		{ transform: scale(0.5) rotate(0deg); }
.custom .fstick.up.right 	{ transform: scale(0.5) rotate(315deg); }
.custom .fstick.up.left 	{ transform: scale(0.5) rotate(225deg); }
.custom .fstick.down.right 	{ transform: scale(0.5) rotate(45deg); }
.custom .fstick.down.left 	{ transform: scale(0.5) rotate(135deg); }


/*Buttons*/
.custom .arrows,
.custom .sticks,
.custom .bumpers,
.custom .triggers,
.custom .abxy { width: 259px; left: 633px; }


/*Face Buttons*/
.custom .button {
    position: absolute;
	width: 97px;
	height: 97px;
	border-radius: 100%;
	opacity: 0;
}

.custom .button.x.pressed  { top: 38px; left: 26px; background: #18a3c3; opacity: 1;} /*1*/
.custom .button.y.pressed  { top: 23px; left: 134px; background: #d9bf2c; opacity: 1;} /*2*/
.custom .button.a.pressed  { top: 146px; left: 26px; background: #60a94f; opacity: 1;} /*3*/
.custom .button.b.pressed  { top: 133px; right: 29px; background: #bb2f4f; opacity: 1;} /*4*/


/*Button Combos*/
.custom .start,
.custom .back,
.custom .stick,
.custom .bumper,
.custom .trigger {
	top: 0px;
	right: 0px;
    position: absolute;
	width: 260px;
	height: 268px;
	opacity: 0;
	background: url(tekken-button-combos.svg);
}

.custom .stick.left.pressed { opacity: 1;	background-position-x: 0px;} 	/*1+2*/
.custom .stick.right.pressed { opacity: 1; 	background-position-x: -520px;} /*3+4*/

.custom .bumper.left.pressed { opacity: 1; 	background-position-x: -260px;} /*2+4*/

.custom .trigger.left { 			background-position-x: 780px; } /*2+3*/
.custom .trigger.right { 			background-position-x: 520px; } /*1+4*/

.custom .start.pressed { opacity: 1; 		background-position-x: -780px;} /*1+3*/
.custom .back.pressed { opacity: 1; 		background-position-x: 260px;} 	/*1+2+3+4*/

/*Rage Art*/
.custom .bumper.right.pressed {
	top: -60px;
	left: 175px;
	opacity: 1;
	background: url(tekken.svg);
	background-position-x: -910px;
	transform: scale(0.5);
	}
